*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
 }

 html{
    scroll-behavior: smooth;
 }

 body{
    background: #080808;
    color:#fff;
 }

 #header{
    width:  100%;
    height:  100vh;
    background-image: url(images/background.png);
    background-size: 35%;
    background-repeat: no-repeat;    
    background-position: right 5% bottom 75%; 
    margin-bottom:  50px;
    padding: 50px;

}    

.container{
    padding: 10px 10%
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{
    width: 140px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position:relative
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}

nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background:#ff004f;
    position:absolute;
    left:0; 
    bottom: -6px;
    transition:0.5s;
}

nav ul li a:hover::after{
    width:100%;
}

.header-text{
    margin-top:20%;
    font-size: 30px;
    width: 50%;
}

.header-text h1{
    font-size: 20px;
    margin-top: 20px;
}


#about{
    margin-top: 50px;
    margin-bottom:  50px;
    padding: 100px 0;
    color:#fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.about-text h1 {
    margin-bottom:  60px; 
}

.about-text p {
    margin-top:  60px; 
}

.sub-title {
    font-size: 40px;
    font-weight: 600;
    color:#fff;
}

#portfolio{
    padding: 100px 0;
    margin-top:  50px;
}

.project-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width:100%;
    height:80%;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;

}

.layer{
    width: 100%;
    height:100%;
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}

.layer p{
    font-weight: 500;
    margin-bottom: 20px;
}

.project:hover img{
    transform:scale(1.1);
}


.contact-left {
    flex-basis:  40%; 
}

.contact-right {
    flex-basis:  60%;
    float: right;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligns items to the start of the cross axis */
}


.contact-left p{
    margin-top: 30px;

}

.social-icons{
    margin-top: 30px;
}


.contact-left p i,
.social-icons a {
    text-decoration: none;
    font-size:  25px;
    margin-right:  15px;
    color: #ababab;
    display: inline-block;
    transition: transform  0.3s; 
}

.contact-left p i:hover,
.social-icons a:hover {
    color: #fff;
    transform: translateY(-5px);
}

.contact-right form{
    width:100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:#262626;
    padding: 15px;
    margin:  15px 0;
    color :#fff;
    font-size: 18px;
    border-radius: 6px;

}

.btn.btn2{
    
    display: inline-block;
    background: #ababab; /* Changed to a contrasting color */
    color: #fff; /* Ensure text is readable against the background color */
    font-weight:  300;
    padding:  14px  60px;
    font-size:  18px;
    margin-top:  20px;
    cursor: pointer;
    border-radius:  6px; 
    transition: background-color  0.3s ease;
    }
    
    .btn.btn2:hover {
        background-color: #ababab;
    }
    
    .btn.btn2:active {
        background-color: #fff; 
    }


form btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top:20px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    nav .fa-solid {
        display: block; /* Show on small screens */
        font-size: 25px;
    }

    nav .fa-bars {
        display: block; /* Show on small screens */
    }

    #header {
        background-image: none;
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 10px;
    }
}


nav .fas {
    display: none; 
}

nav .fa-bars {
    display: none; 
}

nav .fa-x {
    display:none
}



@media only screen and (max-width: 600px) {
    nav .fas {
        display: block; /* Show on small screens */
        font-size: 25px;
    }

    nav .fa-bars {
        display: block; /* Show on small screens */
    }

    nav .fa-x {
        display: block;
    }

    nav ul{
        background:#4e4a4a;
        color: #fff;
        position:fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display:block;
        margin: 25px;
    }

    nav ul .fas{
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav .fa-x {
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;    }

    #header {
        background-image: none;
    }

    .header-text {
        margin-top: 100%;
        font-size: 8px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    #about {
        margin-top: 150px;
        transform: translate(-50%, -50%);
    }    
    
}

